<div class="nested-fields">
  <div>
    <%= f.text_area(:front, placeholder: "Front of card goes here", :cols => 50, :rows => 1) %>
  </div>
  <div>
    <%= f.text_area(:back, placeholder: "Back of card goes here", :cols => 50, :rows => 1) %>
  </div>
  <%= link_to_remove_association 'Remove', f, confirm: 'Are you sure that you want to remove these nested fields?' %>
</div>



