<tr class="nested-fields">
  <td class="table-padding"><%= f.text_area(:front, placeholder: "Add your question", :cols => 50, :rows => 1) %></td>
  <td class="table-padding"> <%= f.text_area(:back, placeholder: "Add your answer", :cols => 50, :rows => 1) %></td>
  <td class ="table-padding"><span><%= link_to_remove_association "&times;".html_safe, f, confirm: 'Are you sure that you want to remove this card?', class: 'remove-underline-link' %> </span></td>
</tr>