<ul class="stack_list">
  <% for stack in @stacks %>
    <li >
     <h2><%= stack.name %> </h2>
      <p>
        <%= stack.description %><br>
        <%= link_to 'View', stack_path(stack.id) %> | <%= link_to 'Delete Stack', stack, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </li>
  
  <% end %>
</ul>
