.main_navigation {
  font-size: 24px;
}


.stack_and_tag_list {
  color: $brand-beta;
  float: left;
  list-style-type: none;
  padding: 10px;
  border-width: 2px;
}
.card {
  background: $brand-omnicron;
}

.card-content {
  min-height: 600px;
  display: table;
    width: 100%;
}

.front, .back {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.back {
  display: none;
  background: $brand-gamma  
}



