.main_navigation {
  font-size: 24px;
  width: 100%;
  background: $offwhite;
  filter: alpha(opacity=50);
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:24px;   /* Height of the footer */
   background: $offwhite;
}

#ric {
  font-family: $sans-serif;
}

.stack_and_tag_list {
  color: $offwhite;
  float: left;
  list-style-type: none;
  padding: 10px;
  border-width: 2px;
  border-bottom-right-radius: 10% 5%;
}
.card {
  background: $brand-beta;
}

.card-content {
  min-height: 400px;
  display: table;
  width: 100%;
}

.front, .back {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  padding: 50px;
}

.back {
  display: none;
  background: $brand-gamma;  
}

.title-pad {
  padding-top: 5px;
}

.edit-list {
      list-style-type: none;
      color: $white;
}

.table-heading{
  color: $offwhite;
  font-family: $sans-serif;
  width: 100%;
  text-align: left;
}

.remove-underline-link {
  text-decoration: none; 
  color: $offwhite;
}

.table-padding {
  padding: 5px;
}

.new-form-padding {
  padding: 1px;
}

.submit-btn {
border-radius: 3px;
}
