.main_navigation {
  font-size: 24px;
  width: 100%;
  background: $offwhite;
  filter: alpha(opacity=50);
}

footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:24px;   /* Height of the footer */
   background: $offwhite;
}

#ric {
  font-family: $sans-serif;
}

.stack_list li {
  width: 48%;
  margin: 1%;
  float: left;
  color: $offwhite;
  float: left;
  list-style-type: none;
  padding: 10px;
  border-width: 2px;
  border-bottom-right-radius: 10% 5%;
  &:nth-child(2n+1){
    clear: left;
  }
}

.card {
  background: $brand-beta;
}

.card-content {
  min-height: 400px;
  display: table;
  width: 100%;
}

.front, .back {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  padding: 50px;
}

.back {
  display: none;
  background: $brand-gamma;  
}

.title-pad {
  padding-top: 5px;
}

.edit-list {
  list-style-type: none;
  color: $white;
}

.table-heading{
  color: $offwhite;
  font-family: $sans-serif;
  width: 100%;
  text-align: left;
}

.remove-underline-link {
  text-decoration: none; 
  color: $offwhite;
}

.table-padding {
  padding: 5px;
}

.new-form-padding {
  padding: 1px;
}

.submit-btn {
  border-radius: 3px; 
}

#error-explanation {
  color: $errorcolor;
  font-size: 18px;
}

#error-msg {
  color: $errorcolor;
  font-size: 16px;
}

#counter {
  color: $offwhite;
}

.counter-text {
  color: $offwhite;
}
.add-links {
  font-size: 22px;
}
